# Configure a local psql client and a protected .pgpass file.
PGHOST=localhost
PGPORT=5432
PGDATABASE=enoe_microdatos
PGUSER=your_read_only_role
# Alternatively use psql inside the existing container.
# ENOE_DOCKER_CONTAINER=postgres-dev
